h2{
    border-style: dashed;
    border-color: rgb(145, 92, 26);
    border-width: 6px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(81, 48, 8);
    font-family: cursive;
    background-image: url(desert-landscape-morning-4k-2560x1600.jpg);
    background-position: center;
    border-radius: 20px;
}
body{
    background-image: url(desert-landscape-morning-4k-2560x1600.jpg);
    background-position: center;
}
.box{
   margin-left: 110px; 
   margin-top: 190px;
}
.name{
    margin-left: 20px;
    font-size: 13px;
    text-align: center;
    border-radius: 20px;

}
.name:hover{
    background-color: rgb(203, 230, 162);
    
}
.name:active{
    background-color: red;
}
input{
    width: 154px;
    height: 20px;
    border-radius: 10px;
    border-style: hidden;
}